export type SvgIconsType = {svgNames};
export type SvgComponentType = typeof import("*.svg{vitePostfix}") | null;

export const getSvgComponent = async (
  name: SvgIconsType,
): Promise<SvgComponentType> => {
  let svgComponent = null;

  switch (name) {
    {svgSwitch}
    default:
      break;
  }

  return svgComponent;
};
