import React from "react";

{svgImports}

const icons = {
  {svgIcons}
}

export type SvgIconsType = keyof typeof icons;

export function getSvgComponent(name: SvgIconsType) {
  return icons[name]
}

